<div class="container is-widescreen has-navbar-fixed-top-spacing-admin">
    <div class="columns">
      <div class="column is-primary">
        <p class="control has-icons-left">
          <input #search class="input is-link" type="text" placeholder="Cauta dupa numele utilizatorului" (input)="searchUsers(search.value)" />
          <span class="icon is-left">
            <fa-icon [icon]="faSearch"></fa-icon>
          </span>
        </p>
      </div>
      <div class="column">
        <button class="button is-primary" (click)="filterUsers()">Filtreaza</button>
      </div>
    </div>
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <a
        class="pagination-previous"
        [ngClass]="{ 'is-hidden': isFirstPage }"
        (click)="changePage(-1)"
        >Inapoi</a
      >
      <a
        class="pagination-next"
        [ngClass]="{ 'is-hidden': hideNextPageBtn }"
        (click)="changePage(1)"
        >Pagina urmatoare</a
      >
      <ul class="pagination-list"></ul>
    </nav>
    <table class="table is-bordered is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th *ngFor="let key of USER_KEYS">{{ key }}</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th *ngFor="let key of USER_KEYS">{{ key }}</th>
        </tr>
      </tfoot>
      <tbody>
        <ng-container *ngIf="users$.length > 0; else noAuthors;">
          <tr *ngFor="let user of users$; let i = index">
            <th>{{ i * (pageNumber + 1) + 1 }}</th>
            <th>{{ user.user_id }}</th>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role[0] }}</td>
            <td><a routerLink="/admin/users/{{user.user_id}}"><button class="button is-light">Edit</button></a></td>
            <td>
              <button class="button is-danger" (click)="deleteUserRow(user,false)">
                <fa-icon [icon]="faDelete"></fa-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noAuthors>
          <tr  class="has-text-danger text-center" >
            <td [attr.colspan]="USER_KEYS.length + 2">{{error}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <a
        class="pagination-previous"
        [ngClass]="{ 'is-hidden': isFirstPage }"
        (click)="changePage(-1)"
        >Inapoi</a
      >
      <a
        class="pagination-next"
        [ngClass]="{ 'is-hidden': hideNextPageBtn }"
        (click)="changePage(1)"
        >Pagina urmatoare</a
      >
      <ul class="pagination-list"></ul>
    </nav>
  </div>
  <app-user-modal *ngIf="displayDeleteModal" [userInput]="userToDelete" (deleteUser)="handleUserDelete($event)"></app-user-modal>