<div class="container is-widescreen has-navbar-fixed-top-spacing-admin">
    <div class="columns">
      <div class="column is-primary">
        <p class="control has-icons-left">
          <input #search class="input is-link" type="text" placeholder="Cauta dupa numele categoriei" (input)="searchCategories(search.value)" />
          <span class="icon is-left">
            <fa-icon [icon]="faSearch"></fa-icon>
          </span>
        </p>
      </div>
      <div class="column">
        <button class="button is-primary" (click)="filterCategories()">Filtreaza</button>
      </div>
    </div>
    <a routerLink="/admin/categories/new"><button class="button is-link">Adauga categorie noua</button></a>
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <a
        class="pagination-previous"
        [ngClass]="{ 'is-hidden': isFirstPage }"
        (click)="changePage(-1)"
        >Inapoi</a
      >
      <a
        class="pagination-next"
        [ngClass]="{ 'is-hidden': hideNextPageBtn }"
        (click)="changePage(1)"
        >Pagina urmatoare</a
      >
      <ul class="pagination-list"></ul>
    </nav>
    <table class="table is-bordered is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th *ngFor="let key of CATEGORY_KEYS">{{ key }}</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th *ngFor="let key of CATEGORY_KEYS">{{ key }}</th>
        </tr>
      </tfoot>
      <tbody>
        <ng-container *ngIf="categories$.length > 0; else noCategories;">
          <tr *ngFor="let category of categories$; let i = index">
            <th>{{ i * (pageNumber + 1) + 1 }}</th>
            <th>{{ category.category_id }}</th>
            <td>{{ category.title }}</td>
            <td>{{ category.description }}</td>
            <td><a routerLink="/admin/categories/{{category.category_id}}"><button class="button is-light">Edit</button></a></td>
            <td (click)="deleteCategoryRow(category.category_id)">
              <button class="button is-danger">
                <fa-icon [icon]="faDelete"></fa-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noCategories>
          <tr  class="has-text-danger text-center" >
            <td [attr.colspan]="CATEGORY_KEYS.length + 2">{{error}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <a
        class="pagination-previous"
        [ngClass]="{ 'is-hidden': isFirstPage }"
        (click)="changePage(-1)"
        >Inapoi</a
      >
      <a
        class="pagination-next"
        [ngClass]="{ 'is-hidden': hideNextPageBtn }"
        (click)="changePage(1)"
        >Pagina urmatoare</a
      >
      <ul class="pagination-list"></ul>
    </nav>
  </div>
  