<section class="hero is-white tutorial-block has-navbar-fixed-top-spacing-admin">
    <div class="hero-body">
      <div class="container ">
        <h2 class="title">Admin</h2>
        <div class="content">
            <h3>Din acest meniu poti viziona sau edita/adauga date pentru urmatoarele:</h3>
            <div class="buttons are-medium">
              <a routerLink="/admin/books"class="button is-primary">Carti</a>
              <a routerLink="/admin/authors"class="button is-primary">Autori</a>
              <a routerLink="/admin/categories"class="button is-primary">Categorii</a>
              <a routerLink="/admin/orders"class="button is-primary">Comenzi</a>
              <a routerLink="/admin/users"class="button is-primary">Utilizatori</a>
            </div>
        </div>
      </div>
    </div>
</section>