<ng-container *ngIf="user$ != null; else isError">
    <section class="hero is-primary is-small form-has-navbar-fixed-top-spacing-admin text-center">
        <div class="hero-body">
          <p class="title">Editeaza utilizatorul</p>
        </div>
      </section>
      <br>
    <app-admin-user-form [user]="user$" (userFormEvent)="updateUser($event)"></app-admin-user-form>
  </ng-container>
  <ng-template #isError>
    <section class="hero is-danger has-navbar-fixed-top-spacing-admin">
        <div class="hero-body">
          <p class="title">
            {{error}}
          </p>
        </div>
      </section>
  </ng-template>