<div class="columns is-vcentered full-height bg-primary">
  <div class="container is-max-desktop">
    <form class="box" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            [ngClass]="{'is-success' : isEmailValid, 'is-danger': isEmailInvalid}"
            type="email"
            placeholder="Eg. hello@gmail.com"
            formControlName="email"
            required
          />
          <span class="icon is-small is-left">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </span>
          <span *ngIf="isEmailTouched" class="icon is-small is-right">
            <fa-icon [icon]="faExclamation"></fa-icon>
          </span>
        </div>
        <div *ngIf="isEmailTouched">
          <p *ngIf="isEmailEmpty" class="help is-danger">Emailul este necesar</p>
          <p *ngIf="isEmailFormat" class="help is-danger">Format mail nepotrivit</p>
        </div>
      </div>
      <div class="field">
        <label class="label">Parola</label>
        <div class="control has-icons-left">
          <input 
          class="input" 
          [ngClass]="{'is-success' : isPasswordValid, 'is-danger': isPasswordInvalid}"
          type="password" 
          placeholder="********" 
          formControlName="password"
          required
          />
          <span class="icon is-small is-left">
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
        </div>
        <div *ngIf="isPasswordTouched">
          <p *ngIf="!isPasswordValid" class="help is-danger">Parola este necesara</p>
        </div>
      </div>

      <button class="button is-primary" type="submit" [disabled]="!loginForm.valid" >Login</button>
    </form>
    <p *ngIf="error" class="help is-danger text-center"> {{error}}</p>
  </div>
</div>
