<section class="hero is-link is-small has-navbar-fixed-top-spacing text-center">
    <div class="hero-body">
      <p class="title">Autorii</p>
      <p class="subtitle">Autorii ale caror carti le veti gasi la biblioteca</p>
    </div>
</section>
<div class="container is-max-widescreen">
    <p class="control is-expanded mt-2 has-icons-left">
        <input
          #search
          class="input"
          type="text"
          placeholder="Scrie numele autorului"
          (keyup)="searchAuthors(search.value)"
        />
        <span class="icon is-left">
            <fa-icon [icon]="faSearch"></fa-icon>
        </span>
    </p>
    <div *ngIf="authors$ && authors$.length > 0; else emptyAuthors">
      <ng-container *ngFor="let author of authors$">
          <app-author-card [author]="author"></app-author-card>
      </ng-container>
    </div>
    <ng-template #emptyAuthors>
      <h2 class="has-text-danger">{{error}}</h2>
    </ng-template>
    <nav
    class="pagination is-rounded mt-2"
    role="navigation"
    aria-label="pagination"
  >
    <a class="pagination-previous" [ngClass]="{ 'is-hidden': isFirstPage }" (click)="changePage(-1)">Inapoi</a>
    <a class="pagination-next" [ngClass]="{ 'is-hidden': hideNextPageBtn }" (click)="changePage(1)">Pagina urmatoare</a>
    <ul class="pagination-list">
    </ul>
  </nav>
</div>
