<section class="publicBanner has-navbar-fixed-top-spacing">
    <div class="banner-center">
        <h1 class="banner-title has-text-white title is-1">Biblioteca online</h1>
        <div class="banner-buttons buttons are-large">
            <a routerLink="/books" class="button is-primary">
                Colectia de carti
                <fa-icon class="ml-1" [icon]="faArrow"></fa-icon>
            </a>
            <a routerLink="/authors" class="button is-link">
                Vezi autorii
                <fa-icon class="ml-1" [icon]="faArrow"></fa-icon>
            </a>
        </div>
    </div>
</section>
<section class="hero is-white tutorial-block">
    <div class="hero-body">
      <div class="container ">
        <h2 class="title">Cum pot imprumuta carti ?</h2>
        <div class="content">
            <h3>Acestia sunt pasii pe care trebuie sa ii urmezi</h3>
            <ol>
              <li>Iti creezi un cont</li>
              <li>Cauti cartile preferate pe care le adaugi in cos</li>
              <li>Alegi metoda de livrare: ridicare personala sau livrare (exclusiv municipiul Bucuresti)</li>
              <li>Dupa ce primesti cartile, vei avea timp o saptamana pana trebuie sa le aduci inapoi la biblioteca noastra</li>
            </ol>
        </div>
      </div>
    </div>
</section>